body {
  background: #23074d;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #cc5333, #23074d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #cc5333, #23074d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.transition-fade {
  transition: 0.5s;
  opacity: 1;
  /* default animation rules */
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(500px);


}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateY(-500px);


}


#header {
  color: azure;
  opacity: 0;
  text-shadow: 2px 2px 1px #ff0000;
  animation-name: fade_in;
  animation-duration: 3s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-delay: 1s;
}

#paragraph {
  opacity: 0;
  color: chocolate;
  text-shadow: 2px 2px 8px #ff0000;
  animation-name: fade_in;
  animation-duration: 3s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-delay: 1s;
}

#generate-button,
#automate-button,
#scrape-button {
  text-shadow: 2px 2px 8px #ff0000;
  box-shadow: 1px 1px 1px #ff0000;
  color: azure;
  outline: chocolate;
  opacity: 1;
}


#start-button{
  text-shadow: 2px 2px 8px #ff0000;
  box-shadow: 1px 1px 1px #ff0000;
  color: azure;
  outline: chocolate;
  opacity: 1;
  font-size: 25px;
  margin-top: 100px;
}

#start-buton:hover {
  background-color: chocolate;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


#side-menu {
  left: 0px;
  top: 0px;
  padding: 0;
  list-style: none;
  opacity: 1.5;
  height: 100%;
  transform: translateX(-250px);
  transition: 0.5s;

}

li {
  margin-top: 25px;
  height: 100px;
}


a {
  color: #cc5333;
  opacity: 1;
  padding: 20px;
  text-align: center;
}

#master-id {
  height: 100%;
}