




.col-sm-2{

    background-color: #31393c;
    color: #dbdddd;
}


.timeline{
    width: 585px;
    font-size: medium;

    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    border-width: 1px;
    /*border-style: solid;*/
    border-image: linear-gradient(to bottom,#109cd1,rgba(0,0,0,0))1 100%;
}



h4{
    font-weight: bold;
}

#logos{
    margin-top: 20px;
}

.nth-project{
    border-width: 1px;
    /*border-style: solid;*/
    border-image: linear-gradient(to bottom,#109cd1,rgba(0,0,0,0))1 100%;
    padding-left: 12px;


    padding-right: 12px;
    text-align: justify;
    word-break: break-all;
    font-size: 14px;

}

#other_skills{
    border-width: 1px;
    /*border-style: solid;*/
    border-image: linear-gradient(to bottom,#109cd1,rgba(0,0,0,0))1 100%;
    padding-left: 12px;


    padding-right: 12px;
    text-align: justify;
    word-break: break-all;
    font-size: 14px;
}

body{
    align-content: center;
    width: 90%;
    padding-top: 0px;
    size: A4;

    padding-left: 200px;
    overflow-x: hidden;

}
p,li,h2,h3,h4{
    font-family: "fantasy";

}


h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
    font-weight: bold;


}

#work_xp{

    padding-left: 36px;
    padding-right: 24px;

}
#about_me{
    width: 585px;
    font-size: medium;

    padding-left: 30px;
    padding-right: 25px;
    text-align: justify;
    border-width: 1px;
    /*border-style: solid;*/
    border-image: linear-gradient(to bottom,#109cd1,rgba(0,0,0,0))1 100%;


}

#left_column1{
    padding-left: 35px;
    padding-top: 10px;
}

#education{
    width: 585px;
    font-size: medium;

    padding-left: 30px;
    padding-right: 25px;
    text-align: justify;
    border-width: 1px;
    /*border-style: solid;*/
    border-image: linear-gradient(to bottom,#109cd1,rgba(0,0,0,0))1 100%;
}



header{
    background-color: #dbdddd;
}

body{
    background-color: #dbdddd;
}

#project_title{
    color: #109cd1;

}

a{
    color: #109cd1;
}

