/*
Colour palette
    green #01723a
    dark green /black #040f0f
    light green #2ba84a
    gray 2d3a3a
    white fcfffc
 */



#nav-bar{
    background-color: #fcfffc;
    color: #040f0f;
    border-width: 0px;
    border-radius: 0px;
    box-shadow:0px 0px 10px 5px grey;


}

#nav-bar > div > div > a{
    color: #31393c;
    font-weight: lighter;

}

#body{
    font-family: 'Vollkorn', serif;
    background-color: #fcfffc;
    height: 100%;
    width:  100%;
}

#jumbo{
    background-color: #fcfffc;
    border: 0px;
    color: #31393c ;
    padding: 0;
}

.panel-default{
    min-width: auto;
    min-height: auto;
    border-width: 0px;

}

.panel-default > .panel-heading{
    background-color:  #31393c;
    color: #fcfffc;
    border-bottom: 0;
    box-shadow: 0px 0px 5px 1px #040F0F;
    min-width: 100%;
}

.panel-default > .panel-body{
    background-image:none;
    background-color: #fcfffc;
    border-width: 0.5px;
    border-top:0;
    border-style: solid;
    box-shadow: 0px 2px 5px 1px #040F0F;
    float: none;
    display: block;
    min-width: 100%;
    min-height: 250px;


}

/* Upload Button style and effects*/
#cta-button-upload{
    background-color:  #e5322d;
    text-align: center;
    position:relative;
    color: #fcfffc;
    max-width: 310px;
    width: 100%;
    border-width: 2px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    float: none;
    display: block;

}

#cta-button-upload:hover {
    background-color: #31393c;
    color: #fcfffc;
}

#cta-button-upload:active {
    background-color: #31393c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Generate Button style and effects*/
#cta-button-generate-newsletter{
    background-color:  #e5322d;
    text-align: center;
    position:relative;
    color: #fcfffc;
    max-width: 310px;
    width: 100%;
    border-width: 2px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    float: none;
    display: block;
}

#cta-button-generate-newsletter:hover {
    background-color: #31393c;
    color: #fcfffc;
}

#cta-button-generate-newsletter:active {
    background-color: #31393c;
    box-shadow: 0 5px #666;

    transform: translateY(4px);
}

/* Generate Button style and effects*/
#cta-button-generate-xlsx{
    background-color:  #e5322d;
    text-align: center;
    position:relative;
    color: #fcfffc;
    max-width: 310px;
    width: 100%;
    border-width: 2px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    float: none;
    display: block;
}

#cta-button-generate-xlsx:hover {
    background-color: #31393c;
    color: #fcfffc;
}

#cta-button-generate-xlsx:active {
    background-color: #31393c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Generate Button style and effects*/
#cta-button-generate-pdf{
    background-color:  #e5322d;
    text-align: center;
    position:relative;
    color: #fcfffc;
    max-width: 310px;
    width: 100%;
    border-width: 2px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    float: none;
    display: block;
}

#cta-button-generate-pdf:hover {
    background-color: #31393c;
    color: #fcfffc;
}

#cta-button-generate-pdf:active {
    background-color: #31393c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Download Button style and effects*/
#cta-button-download-xlsx{
    background-color:  #e5322d;
    text-align: center;
    position:relative;
    color: #fcfffc;
    max-width: 310px;
    width: 100%;
    border-width: 2px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    float: none;
    display: block;
}

/* Download Button style and effects*/
#cta-button-download-pdf{
    background-color:  #e5322d;
    text-align: center;
    position:relative;
    color: #fcfffc;
    max-width: 310px;
    width: 100%;
    border-width: 2px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    float: none;
    display: block;
}



