<!DOCTYPE html>
<html>
	{% load static %}
<head>
  <title>Gollem</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{% static '/frontend/css/style.css' %}" />
	<script type="text/javascript" src="{% static 'frontend/js/carousel.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
  <script defer src="{% static 'frontend/js/anim_sw.js' %}"></script>
	<script type="text/javascript" src="{% static 'frontend/js/sideMenu.js' %}"></script>
</head>

<body onload="timedText()">

  <div class="container-fluid">
    <div class="row" id="master-row" style="height: 100%;">
      <div class="col-md-1" style="padding: 0;">
        <a id="list-button" style="padding-left: 10%; padding-bottom: 0%; width: 10px;" onclick="sideMenuOption()">
          &nbsp;
          <svg id='svg-icon' style="padding-left:20%">
            <path d="M0,2.5 15,2.5" stroke="#D2691E" stroke-width="2.5" />
            <path d="M0,7 15,7" stroke="#D2691E" stroke-width="2.5" />
            <path d="M0,11.5 15,11.5" stroke="#D2691E" stroke-width="2.5" /> <svg></a>
        <ul id="side-menu">
		<li><a href="{% url 'index' %}"> Home</a></li>
          <li><a href="#"> .xlsx</a></li>
          <li><a href="#"> .pptx</a></li>
          <li><a href="#"> Amazon</a></li>
        </ul>
      </div>

      <div class="col">
        <main id="swup" class="transition-fade">
          <div class="row">&nbsp</div>
          <div class="row">&nbsp</div>
          <div class="row">&nbsp</div>
          <div class="row">&nbsp</div>
          <div class="row">&nbsp</div>
          <div class="row">&nbsp</div>
          <div class="row">&nbsp</div>
          <div class="row">&nbsp</div>
          <div class="row">&nbsp</div>
          <div class="row">&nbsp</div>
          <div class="row">&nbsp</div>
          <div class="row">&nbsp</div>
          <div class="row">&nbsp</div>
          <div class="row">&nbsp</div>
		{% block content %}
		{% endblock content %}
	</main>
      </div>
    </div>
  </div>
  </main>
</body>

</html>
