{% extends 'base.html' %}


{% block content %}

		<div class="row">
			<div class="col text-center" id="col">
				<span id="message">
					<h1 id="header">Welcome!</h1>
					<p id="paragraph">
    						Start generating awesome presentations of your products
                			</p>
              			</span>
           		 </div>
          	</div>

          	<div class="row">
            		<div class="col text-center" id="col">
              			<span id="button">
					<a href="{% url 'option-page' %}" type="button" class="btn btn-lg btn-outline-danger" id="start-button">
                 				 Let's Begin
                			</a>
              			</span>
            		</div>
          	</div>

{% endblock content %}	
      
