{% extends 'base.html' %}


{% block content %}
	<div class="row">
            <div class="col text-right">
              <a href="{% url 'upload' %}" type="button" class="btn btn-lg btn-outline-danger" id="start-button">
                  Generate
              </a>
            </div>
            <div class="col text-center">
              <button type=" button" class="btn btn-lg btn-outline-danger" id="scrape-button">
                Scrape
              </button>
            </div>
            <div class="col text-left" style="display: initial;">
              <button type=" button" class="btn btn-lg btn-outline-danger" id="automate-button">
                Automate
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col text-center" id="col" >
              <span id="button" style="margin-top: 50px">
		      <a href="{% url 'index' %}" type="button" class="btn btn-lg btn-outline-danger"
                  id="start-button">
                 sdf home
		      </a>
	      </span>
            </div>
          </div>
{% endblock content %}
