{% extends 'base.html'%}

{% block content %}
    <div class="row">
        <div class="col text-center"><h1>Upload</h1></div>
    </div>

	<div class="row">
            <div class="col text-center" id="col">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h1 align="center">
                    Stock File
                  </h1>
                </div>
                <div class="panel-body">
                  <form method="post" enctype="multipart/form-data">
                    <input type="file" name="backorder_files" multiple>

                  </form>
                </div>
              </div>
            </div>
            <div class="col text-center" id="col">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h1 align="center">
                    Backorder Files
                  </h1>
                </div>
                <div class="panel-body">
                  <form method="post" enctype="multipart/form-data">
                    <input type="file" name="backorder_files" multiple>

                  </form>
                </div>
              </div>
            </div>
            <div class="col text-center" id="col">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h1 align="center">
                    Exported Files
                  </h1>
                </div>
                <div class="panel-body">
                  <form method="post" enctype="multipart/form-data">
                    <input type="file" name="backorder_files" multiple>

                  </form>
                </div>
              </div>
            </div>
    </div>

    <div class = 'row'>
        <div class="col text-center" id="col">
              <span id="button">
                <a href="" name="cta-button-upload" type="submit" class="btn btn-lg btn-outline-danger"
                  id="cta-button-upload">
                  Generate
                </a>
              </span>
        </div>
    </div>
{% endblock content%}
